# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Test coverage
.coverage
.coverage.*
htmlcov/

# Dump files
*_dump.txt
*.dump.txt

# Databases
*.sqlite3
e2e_test_db.sqlite3

# Static & Celerybeat
staticfiles/
celerybeat-schedule*

