# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Test coverage & cache
.coverage
.coverage.*
htmlcov/
.pytest_cache/

# Dump files
*_dump.txt
*.dump.txt

# Databases
*.sqlite3
e2e_test_db.sqlite3

# Celery & runtime
celerybeat-schedule*
*.log
staticfiles/
media/

# Environment variables
.env
.env.*
!.env.example
